version 5.257.0
source https://www.nuget.org/api/v2
frameworks: auto-detect
storage: none

nuget FSharp.Data
nuget FSharp.Core ~> 10
nuget PipeMethodCalls 3.0.4
nuget Newtonsoft.Json 13.0.1
nuget System.ComponentModel.Composition ~> 10
nuget System.Reflection.MetadataLoadContext ~> 10


nuget FSharp.Formatting
nuget FsCheck 2.16.3
nuget FsCheck.Xunit 2.16.3
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.3
nuget Microsoft.NET.Test.Sdk 16.11.0
nuget ILRepack.MSBuild.Task 2.0.13

github fsprojects/FSharp.TypeProviders.SDK:f4aca36af04aa84b16ec04df6f6bf55ac2f17a73 src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK:f4aca36af04aa84b16ec04df6f6bf55ac2f17a73 src/ProvidedTypes.fs
