version 5.257.0
source https://www.nuget.org/api/v2
frameworks: auto-detect
storage: none

nuget FSharp.Core ~> 8
nuget FSharp.TypeProviders.SDK 8.5.0

nuget System.Reflection.MetadataLoadContext ~> 10.0.0
nuget RBridge.Extensions 1.0.6

group Test

    source https://www.nuget.org/api/v2
    frameworks: auto-detect
    storage: none

    nuget FSharp.Core ~> 8
    nuget Expecto
    nuget Expecto.FsCheck
